/*=========================
		   BÁSICAS
===========================*/
img{ border:none;}
p,h1,h2,h3,h4,h5{margin:0;padding:0}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
body{ font-family: Arial, Helvetica, sans-serif; font-size:11px; }
body{background: transparent url("../imagens/bgBody.jpg") repeat-x;margin: 0;padding:0;}
body a{ color:#000;}

/*=========================
         ESTRUTURA 
===========================*/
#conteiner{	margin: 0 auto; padding:0; width:780px;}
#conteiner h1{background: transparent url("../imagens/logoSeduc.png") no-repeat; margin:8px;padding:0; width:250px; height:32px; float:left;}
#conteiner h1 span{ display:none;}
#conteiner h2 { color:#AD1023; font-size:120%; border-bottom:1px solid #ccc; padding-bottom:0.5em; margin-bottom:1em;}

#listaMenuTopo{ float:right;display: none;}
#listaMenuTopo li{ float:left; color:#FFF; list-style:none; margin:5px 0 0 0; padding:0; font-weight:bold; display:block;}
#listaMenuTopo li a{ color:#FFF; margin:0 0.5em 0 0.5em;}

#logoSeduc{float:left;display:block;}
#logoSeduc span{display:none;}

.conteudo{ clear:both; width:800px; margin:0 auto;}

.bgInputText{ width:165px; height:27px; border:none; padding:0.4em 0 0 0.5em; margin:0;background: transparent url("../imagens/bgInputText.jpg") no-repeat; display:none; clear:both}
.btIntranet{width:100px; height:33px; border:none; cursor:pointer; padding:0; margin:10px 0 0 32px;background: transparent url("../imagens/btAcessarIntranet.jpg") no-repeat;}
.btSiig{width:100px; height:33px; border:none; cursor:pointer; padding:0; margin:3px 0 0 32px;background: transparent url("../imagens/btAcessarSiig.jpg") no-repeat;}
.EsqueceuSenha { margin:0; padding:0 0 0 20px; display:block;}
.EsqueceuSenha a{ color:#FFF; font-weight:bold;}

.mensagem{ color: #FFFF00; font-size:11px; font-weight:bold; padding:0; margin:-10px 0 0 0; width:165px; text-align:center;}
.barBotoes{
    display: none;
}
.clear{ clear:both;}

.campoObrigatorio{ color:#AD1023; text-align:left !important;}
.linha{ border-bottom:2px dotted #ccc; margin:1em 0 1em 0}

.line{background: #F9F9F9}

.pageTitle{
    font:italic normal normal 14px/19px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    color: #005CB9;
    width: 800px;
	margin: 10px;
}

#back_link{
    padding: 10px;
}

#tabs{width: 100%;}

#titulo-selecione{margin: 0 50px 0 160px;}